---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>First-author Publications</h2>
<hr />
{% assign first_author_pubs = site.publications | where: "first_author", true %}
{% if first_author_pubs.size > 0 %}
  {% assign idx = 0 %}
  {% for post in first_author_pubs reversed %}
    {% assign idx = idx | plus: 1 %}
    {% include archive-single.html index=idx %}
  {% endfor %}
{% else %}
  <p>No first-author publications yet.</p>
{% endif %}

<h2>Co-author Publications</h2>
<hr />
{% assign coauthor_pubs = site.publications | where: "first_author", false %}
{% if coauthor_pubs.size > 0 %}
  {% assign idx = 0 %}
  {% for post in coauthor_pubs reversed %}
    {% assign idx = idx | plus: 1 %}
    {% include archive-single.html index=idx %}
  {% endfor %}
{% else %}
  <p>No co-author publications yet.</p>
{% endif %}
